.callouts__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    background: #1c2237;
}
.callouts__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .callouts__heading {
    margin-left: 55px;
    margin-bottom: 15px;
    color: #fafafa;
  }


  @media screen and (max-width: 1100px) {
    .callouts__heading {
      margin-left: 100px;
      margin-bottom: 15px;
      color: #fafafa;
    }
    .callouts__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .firstTweet{
      width: 100%;
    }
    .secondTweet{
      width: 100%;
    }
    .thirdTweet{
      width: 100%;
    }
    .fourthTweet{
      width: 100%;
    }
    .fifthTweet {
      width: 100%;
    }
    .sixthTweet {
      width: 100%;
    }
  }

  @media screen and (max-width: 960px) {
    .twitter-timeline {
      width: 100vw !important;
  }
    .callouts__container {
      width: 100vw !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .firstTweet{
      width: 100vw !important;
      width: 80%;
    }
    .secondTweet{

      width: 100vw !important;
      width: 80%;
    }
    .thirdTweet{

      width: 100vw !important;
      width: 80%;
    }
    .fourthTweet{

      width: 100vw !important;
      width: 80%;
    }
    .fifthTweet {

      width: 100vw !important;
      width: 80%;
    }
    .sixthTweet {

      width: 100vw !important;
      width: 80%;
    }
  }

